<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="accessId" value="AKIA3KRGQ6EII75NHHWL"/>
    <add key="secretKey" value="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"/>
  </appSettings>
</configuration>